# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# Data outputs
data/raw/
data/processed/*
!data/processed/.gitkeep
data/plots/

# Plot outputs
outputs/*
!outputs/.gitkeep

# OS / editor
.DS_Store
.vscode/